@page
@model WebSBazom.Pages.Zivotinje.UpdateModel
@{
    ViewData["Title"] = "Update";
}

<h1>Uredi životinju</h1>

<form method="post">
    <input type="hidden" asp-for="Zivotinja.Id" />

    <div class="row">
        <div class="col-6 form-group">
            <label>Ime</label>
            <input type="text" asp-for="Zivotinja.Ime" class="form-control" />
        </div>
        <div class="col-6 form-group">
            <label>Vrsta</label>
            <input type="text" asp-for="Zivotinja.Vrsta" class="form-control" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-6 form-group">
            <label>Pasmina</label>
            <input type="text" asp-for="Zivotinja.Pasmina" class="form-control" />
        </div>
        <div class="col-6 form-group">
            <label>Težina</label>
            <input type="number" asp-for="Zivotinja.Tezina" class="form-control" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        Spremi
    </button>
</form>