@page
@model WebSBazom.Pages.Osobe.AddModel
@{
    ViewData["Title"] = "Add";
}

<h1>Dodaj osobu</h1>

<form method="post">
    
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Ime</label>
            <input type="text" asp-for="Osoba.Ime" class="form-control"/>
        </div>
        <div class="col-sm-6 form-group">
            <label>Prezime</label>
            <input type="text" asp-for="Osoba.Prezime" class="form-control" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4 form-group">
            <label>Godište</label>
            <input type="number" step="1" asp-for="Osoba.Godiste" class="form-control" />
        </div>
        <div class="col-sm-4 form-group">
            <label>Težina (kg)</label>
            <input type="number" step="0.01" asp-for="Osoba.Tezina" class="form-control" />
        </div>
        <div class="col-sm-4 form-group">
            <label>Visina (cm)</label>
            <input type="number" step="1" asp-for="Osoba.Visina" class="form-control" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        Spremi
    </button>
</form>